База данных содержит список аэропортов практически всех крупных городов России. В большинстве городов есть только один аэропорт. Исключение составляет:

In [ ]:
select city, 
count(airport_name) as airport_count
from dst_project.airports
group by city 
order by airport_count desc
limit 2

Вопрос 1. Таблица рейсов содержит всю информацию о прошлых, текущих и запланированных рейсах. Сколько всего статусов для рейсов определено в таблице?

In [ ]:
select count(DISTINCT status)
from dst_project.flights

In [ ]:
select a.model,
count(s.seat_no) as seat_count
from dst_project.Seats s
join dst_project.Aircrafts a on s.aircraft_code = a.aircraft_code
group by a.model

In [ ]:
select f.status,
count(f.flight_id)
from dst_project.flights f
where actual_arrival between '2017/04/01' and '2017/09/01 23:59:59.999'
group by status

In [ ]:
select a.model,
count(f.aircraft_code) as aircraft_count
from dst_project.aircrafts a
join dst_project.flights f on f.aircraft_code = a.aircraft_code
group by a.model

У какого рейса была самая большая задержка прибытия за все время сбора данных? Введите id рейса (flight_id).

In [ ]:
SELECT DISTINCT
    f.flight_id,
    f.scheduled_arrival - f.actual_arrival AS flight_delayed
FROM
    dst_project.flights f
order by flight_delayed

Между какими аэропортами пролегает самый длительный по времени запланированный рейс?

In [ ]:
SELECT DISTINCT
    f.departure_airport,
    f.arrival_airport,
    f.scheduled_arrival - f.scheduled_departure AS flight_duration
FROM
    dst_project.flights f
ORDER BY 3 DESC
LIMIT 4

Сколько составляет средняя дальность полета среди всех самолетов в минутах? Секунды округляются в меньшую сторону (отбрасываются до минут).

In [ ]:
SELECT DISTINCT
    AVG(f.scheduled_arrival - f.scheduled_departure)
FROM
    dst_project.flights f

Мест какого класса у SU9 больше всего?

In [ ]:
SELECT DISTINCT f.aircraft_code, 
f.fare_conditions, count(f.fare_conditions)
    
FROM
    dst_project.seats f

group by f.aircraft_code, f.fare_conditions
order by aircraft_code desc

Какую самую минимальную стоимость составило бронирование за всю историю?

In [ ]:
SELECT DISTINCT f.total_amount

FROM dst_project.bookings f

order by total_amount

Какой номер места был у пассажира с id = 4313 788533?

In [ ]:
SELECT t.passenger_id, s.seat_no

FROM dst_project.tickets t

join dst_project.boarding_passes s on t.ticket_no = s.ticket_no

where passenger_id ='4313 788533'

Анапа — курортный город на юге России. Сколько рейсов прибыло в Анапу за 2017 год?

In [ ]:
SELECT count(f.flight_id)
FROM dst_project.flights f
WHERE f.arrival_airport = 'AAQ'
  AND f.actual_arrival BETWEEN '2017-01-01' AND '2018-01-01'

Сколько рейсов из Анапы вылетело зимой 2017 года?

In [ ]:
SELECT count(f.flight_id)
FROM dst_project.flights f
WHERE f.departure_airport = 'AAQ'
  AND f.actual_departure BETWEEN '2017-12-01' AND '2017-12-31'
UNION ALL
SELECT count(f.flight_id)
FROM dst_project.flights f
WHERE f.departure_airport = 'AAQ'
  AND f.actual_departure BETWEEN '2017-01-01' AND '2017-03-01'

Посчитайте количество отмененных рейсов из Анапы за все время.

In [ ]:
SELECT count(f.flight_id)
FROM dst_project.flights f
WHERE f.departure_airport = 'AAQ'
  AND f.status = 'Cancelled'

Сколько рейсов из Анапы не летают в Москву?

In [ ]:
SELECT count(f.flight_no)
FROM dst_project.flights f
WHERE f.departure_airport = 'AAQ'
and f.arrival_airport != 'SVO'

Какая модель самолета летящего на рейсах из Анапы имеет больше всего мест?

In [ ]:
SELECT distinct(f.aircraft_code),
a.model,
count(distinct s.seat_no)
FROM dst_project.flights f
join dst_project.Aircrafts a on f.aircraft_code = a.aircraft_code
join dst_project.seats s on f.aircraft_code = s.aircraft_code
WHERE f.departure_airport = 'AAQ'
group by f.aircraft_code, a.model

Напомним, что вам предстоит выяснить, от каких самых малоприбыльных рейсов из Анапы мы можем отказаться в зимнее время. 
Вы не знаете, по каким критериям ваше руководство будет отбирать рейсы, поэтому решаете собрать как можно больше информации, 
содержащейся в вашей базе, в один датасет.

In [ ]:
SELECT f.flight_id, 
    f.departure_airport, 
    f.arrival_airport, 
    a.model,
    count(distinct t.ticket_no)*100/count(distinct s.seat_no) as Процент_заполнения, 
    sum(t.amount) as цена_билетов, 
    actual_departure-actual_arrival as время_полета FROM dst_project.flights f
    /*c.consumption_kgh*/

join dst_project.Aircrafts a on f.aircraft_code = a.aircraft_code
join dst_project.seats s on f.aircraft_code = s.aircraft_code
join dst_project.ticket_flights t on f.flight_id = t.flight_id
/*join test.consumption_kgh c on a.aircraft_code = c.aircraft_code*/

WHERE f.departure_airport = 'AAQ'
  AND (date_trunc('month', scheduled_departure) in ('2017-01-01','2017-02-01', '2017-12-01'))
  AND status not in ('Cancelled')

 group by f.flight_id,f.aircraft_code, a.model
 
 order by цена_билетов, Процент_заполнения